# Import relevant libraries

In [4]:
# Importing the Libraries
import win32com.client
import pandas as pd
from datetime import datetime
import subprocess

SapGuiAuto = win32com.client.GetObject('SAPGUI')
application = SapGuiAuto.GetScriptingEngine
connection = application.Children(0)
session = connection.Children(0)
now = datetime.now()
dt_string = now.strftime("%Y%m%d_%H%M")
#filename = "FlightSalesReport " + dt_string + ".XLSX"
filename = "ST03_" + dt_string + ".XLSX"
folderdir = "G:\\My Drive\\_sepet\\GITHUB\\GNDLFAutomation\\ST03-v1.ipynb\\"
folderdir + filename

'G:\\My Drive\\_sepet\\GITHUB\\GNDLFAutomation\\ST03-v1.ipynb\\ST03_20240311_1713.XLSX'

In [2]:
startdate = input("Please input your start date in this format (MM/DD/YYYY)")
enddate = input("Please input your ending date in this format (MM/DD/YYYY)")

# Run SAP Script

In [5]:
session.findById("wnd[0]").maximize()
session.findById("wnd[0]/tbar[0]/okcd").text = "/nST03N"
session.findById("wnd[0]").sendVKey (0)
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").expandNode ("B.999")
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").topNode = "B"
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").expandNode ("B.999.3")
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").selectedNode = "B.999.3.003"
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").topNode = "B"
session.findById("wnd[0]/shellcont/shell/shellcont[1]/shell").doubleClickNode ("B.999.3.003")
session.findById("wnd[0]/usr/ssubSUBSCREEN_0:SAPWL_ST03N:1100/ssubWL_SUBSCREEN_1:SAPWL_ST03N:1110/tabsG_TABSTRIP/tabpTA04").select()
session.findById("wnd[0]/usr/ssubSUBSCREEN_0:SAPWL_ST03N:1100/ssubWL_SUBSCREEN_1:SAPWL_ST03N:1110/tabsG_TABSTRIP/tabpTA04/ssubWL_SUBSCREEN_2:SAPWL_ST03N:1130/cntlALVCONTAINER/shellcont/shell").pressToolbarContextButton ("&MB_EXPORT")
session.findById("wnd[0]/usr/ssubSUBSCREEN_0:SAPWL_ST03N:1100/ssubWL_SUBSCREEN_1:SAPWL_ST03N:1110/tabsG_TABSTRIP/tabpTA04/ssubWL_SUBSCREEN_2:SAPWL_ST03N:1130/cntlALVCONTAINER/shellcont/shell").selectContextMenuItem ("&XXL")
session.findById("wnd[1]/tbar[0]/btn[20]").press()
session.findById("wnd[1]/usr/ctxtDY_PATH").text = folderdir
session.findById("wnd[1]/usr/ctxtDY_PATH").setFocus()
session.findById("wnd[1]/usr/ctxtDY_PATH").caretPosition = 41
session.findById("wnd[1]/tbar[0]/btn[0]").press()

In [4]:
# Run SAP Scriptsession = None
connection = None
application = None
SapGuiAuto = None

# Open Exported Excel

In [5]:
df = pd.read_excel(folderdir + filename, sheet_name = 'Sheet1')
df

,MANDT,CARRID,CONNID,FLDATE,BOOKID,CUSTOMID,CUSTTYPE,SMOKER,LUGGWEIGHT,WUNIT,...,LOCCURAM,LOCCURKEY,ORDER_DATE,COUNTER,AGENCYNUM,CANCELLED,RESERVED,PASSNAME,PASSFORM,PASSBIRTH
0,1,AA,17,2021-04-08,1,3483,P,NaN,17.4,KG,...,803.58,USD,2020-12-09,0,114,NaN,NaN,Jean Gahl,NaN,NaN
1,1,AA,17,2021-04-08,2,561,P,NaN,13.4,KG,...,761.30,USD,2020-11-15,0,222,NaN,NaN,Illya Sessler,NaN,NaN
2,1,AA,17,2021-04-08,3,278,B,NaN,9.8,KG,...,803.58,USD,2021-01-24,29,0,NaN,NaN,NaN,NaN,NaN
3,1,AA,17,2021-04-08,4,2611,P,NaN,23.9,KG,...,845.88,USD,2021-03-18,0,104,NaN,NaN,Anna Waldmann,NaN,NaN
4,1,AA,17,2021-04-08,5,1355,P,NaN,25.0,KG,...,803.58,USD,2020-11-12,0,87,NaN,NaN,Pierre Dumbach,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31285,1,UA,3517,2021-06-09,15320,8,P,X,10.2,KG,...,611.01,USD,2021-05-22,0,319,NaN,NaN,Moore,NaN,NaN
31286,1,UA,3517,2021-06-09,15321,1922,P,NaN,20.8,KG,...,549.91,USD,2021-01-11,1,0,NaN,NaN,Johann Buehler,NaN,NaN
31287,1,UA,3517,2021-06-09,15322,2447,P,NaN,11.5,KG,...,580.46,USD,2021-03-02,0,55,NaN,NaN,Guenther Dumbach,NaN,NaN
31288,1,UA,3517,2021-06-09,15323,3584,P,NaN,0.0,KG,...,549.91,USD,2021-02-23,0,304,NaN,NaN,Allen Weiss,NaN,NaN
31289,1,UA,3517,2021-06-09,15324,3591,P,X,27.3,KG,...,580.46,USD,2021-02-15,1,0,NaN,NaN,Sophie Kreiss,NaN,NaN

In [6]:
df.describe()

,MANDT,CONNID,BOOKID,CUSTOMID,LUGGWEIGHT,FORCURAM,LOCCURAM,COUNTER,AGENCYNUM,RESERVED,PASSFORM,PASSBIRTH
count,31290.0,31290.000000,31290.000000,31290.000000,31290.000000,31290.000000,31290.000000,31290.000000,31290.000000,0.0,0.0,0.0
mean,1.0,1072.285842,5433.993129,2351.760658,13.601774,4438.806058,11183.787499,4.731927,142.373857,NaN,NaN,NaN
std,0.0,1195.729623,4506.031747,1324.132986,10.651970,20926.337111,35176.138798,15.351486,96.990511,NaN,NaN,NaN
min,1.0,2.000000,1.000000,1.000000,0.000000,97.550000,148.000000,0.000000,0.000000,NaN,NaN,NaN
25%,1.0,106.000000,1091.000000,1219.000000,0.000000,505.680000,519.360000,0.000000,101.000000,NaN,NaN,NaN
50%,1.0,555.000000,4485.000000,2358.500000,14.700000,791.840000,749.210000,0.000000,115.000000,NaN,NaN,NaN
75%,1.0,1984.000000,8300.750000,3497.000000,22.000000,1030.000000,1198.800000,0.000000,224.000000,NaN,NaN,NaN
max,1.0,3517.000000,18214.000000,4637.000000,48.100000,465006.000000,318408.000000,79.000000,323.000000,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31290 entries, 0 to 31289
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MANDT       31290 non-null  int64
 1   CARRID      31290 non-null  object
 2   CONNID      31290 non-null  int64
 3   FLDATE      31290 non-null  datetime64[ns]
 4   BOOKID      31290 non-null  int64
 5   CUSTOMID    31290 non-null  int64
 6   CUSTTYPE    31290 non-null  object
 7   SMOKER      3221 non-null   object
 8   LUGGWEIGHT  31290 non-null  float64
 9   WUNIT       31290 non-null  object
 10  INVOICE     9912 non-null   object
 11  CLASS       31290 non-null  object
 12  FORCURAM    31290 non-null  float64
 13  FORCURKEY   31290 non-null  object
 14  LOCCURAM    31290 non-null  float64
 15  LOCCURKEY   31290 non-null  object
 16  ORDER_DATE  31290 non-null  datetime64[ns]
 17  COUNTER     31290 non-null  int64
 18  AGENCYNUM   31290 non-null  int64
 19  CANCELLED   854 non-null    object
 20  RESERVED    0 non-null      float64
 21  PASSNAME    29646 non-null  object
 22  PASSFORM    0 non-null      float64
 23  PASSBIRTH   0 non-null      float64
dtypes: datetime64[ns](2), float64(6), int64(6), object(10)
memory usage: 5.7+ MB

In [8]:
subprocess.call(["taskkill","/f","/im","EXCEL.EXE"])

0